body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* PAGE LOADER */
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #242F3F;
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #242F3F;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
/* PAGE LOADER END */

/* LINK APPEARANCE FOR BUTTONS*/
.input-link-style {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

    .input-link-style:hover {
        text-decoration: underline;
    }

/* LINK APPEARANCE FOR BUTTONS END*/

/* LEVEL CSS */
.level {
    position: absolute;
    left: 35%;
    margin-top: -12px;
    margin-left: -10px;
    width: 44px;
    height: 24px;
    padding-top: 3px;
    box-sizing: border-box;
    background: url('../DataAccess/RiotGamesApi/Images/Misc/level-box.png');
    background-size: 100%;
    line-height: 17px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
}

.image-container {
    position: relative;
    height: 75px;
    width: 75px;
}
/* LEVEL CSS END */

/* MATCH HISTORY CSS */
a[name=playerLink] {
    text-decoration: none;
}

.game-stats {
    margin-right: 5px;
}

.game-stats-queue {
    margin-bottom: 70px;
}

.game-stats-result {
}

#participantImages {
    position: relative;
    height: 140px;
    width: 130px;
    margin: auto;
}

    #participantImages > img {
        position: absolute;
    }

.champion-portrait {
    top: 21px;
}

.summoner-spell-one {
    left: 90px;
    top: 21px;
}

.summoner-spell-two {
    left: 90px;
    top: 63px;
}

.keystone {
    top:101px;
}

.secondary-path {
    left: 40px;
    top: 103px;
}

#MoreDetailsBtn {
    text-align: center;
    margin-top: 2px;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: -8px;
}

    #MoreDetailsBtn:hover {
        background-color: #2e83e6;
        cursor: pointer;
    }

#CloseBtn {
    text-align: center;
    margin-top: 2px;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: -8px;
}

    #CloseBtn:hover {
        background-color: #2e83e6;
        cursor: pointer;
    }

#items {
    margin: auto;
}

#stats {
    margin: auto;
}

.participants-blue-team {
    width: 160px;
    margin-left: auto;
}

.participants-red-team {
    width: 160px;
    position: relative;
}
/* MATCH HISTORY CSS END */

/* ################### MATCH BREAKDOWN CSS ################### */
.nav-link {
    cursor: pointer;
}
/* OVERVIEW TAB */
.titles-row {
    display: flex;
    margin-bottom: 10px;
}

.title-summoner {
    width: 20%;
}

.title-kda {
    text-align: center;
    width: 12%;
}

.title-damage {
    text-align: center;
    width: 12%;
}

.title-wards {
    text-align: center;
    width: 12%;
}

.title-cs {
    text-align: center;
    width: 12%;
}

.title-items {
    text-align: center;
    width: 32%;
}

.summoner-data-row {
    display: flex;
    margin-bottom: 5px;
}

.summoner-images-container {
    position: relative;
    width: 20%;
}

.summoner-spell-one-breakdown {
    margin-left: 5px;
    position: absolute;
}

.summoner-spell-two-breakdown {
    position: absolute;
    margin-left: 5px;
    top: 21px;
}

.keystone-breakdown {
    position: absolute;
    margin-left: 25px;
}

.secondary-path-breakdown {
    position: absolute;
    margin-left: 25px;
    top: 21px;
}

.summoner-name-breakdown {
    margin-left: 50px;
}

.kda-container {
    text-align: center;
    font-size: 14px;
    width: 12%;
}

.damage-dealt-container {
    width: 12%;
}

.wards-container {
    text-align: center;
    font-size: 14px;
    width: 12%;
}

.creep-score-container {
    text-align: center;
    width: 12%;
}

.items-container {
    margin-top: 5px;
    width: 32%;
}

.league-item-breakdown {
    margin-right: 2px;
}

.damage-dealt-max {
    width: 50px;
    height: 10px;
    margin: 0 auto;
    border: 1px solid #cdd2d2;
    background-color: #f2f2f2;
}

.damage-dealt {
    height: 10px;
    margin: -1px;
    border: 1px solid #c6443e;
    background-color: #ee5a52;
}

/* WARDS TOOLTIP */
.wards-tooltip {
    position: relative;
    display: inline-block;
}

.wards-tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s;
    background-color: rgb(55, 58, 60);
    color: rgb(230, 230, 230);
    top: -60px;
    left: -43px;
}

.wards-tooltip:hover {
    cursor: pointer;
}

.wards-tooltip:hover .wards-tooltip-text {
    visibility: visible;
    opacity: 1;
}
/* WARDS TOOLTIP END */

/* MIDDLE GRAPH BARS FOR KILLS/GOLD */
.game-kills-container {
    display: flex;
    align-items: center;
    margin: 0 3px;
}

.game-kills-blue-team-bar {
    background-color: #548dca;
    height: 10px;
}

.game-kills-red-team-bar {
    background-color: #d05a53;
    height: 10px;
}

.total-kills-text {
    margin-left: -10px;
    margin-right: 10px;
}

.blue-team-kills {
    width: 48px;
    text-align: right;
    margin-left: 15px;
    margin-right: 10px;
}

.red-team-kills {
    margin: 0 23px;
}

.game-gold-container {
    display: flex;
    align-items: center;
    margin: 0 3px;
}

.game-gold-blue-team-bar {
    background-color: #548dca;
    height: 10px;
}

.game-gold-red-team-bar {
    background-color: #d05a53;
    height: 10px;
}

.total-gold-text {
    margin-left: -10px;
    margin-right: 10px;
}

.blue-team-gold {
    margin: 0 10px;
    width: 48px;
    text-align: right;
}

.red-team-gold {
    margin: 0 10px;
}
/* GRAPH BARS FOR KILLS/GOLD END */
/* OVERVIEW TAB END */

/* ANALYSIS TAB */
.analysis-list-item {
    float: left;
    width: 50%;
}

    .analysis-item-content > h4 {
        text-align: center;
        font-size: 16px;
    }

.analysis-item-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;

}

.analysis-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.analysis-team {
    display: table-cell;
}

.analysis-champion-image {
    float: left;
    height: 20px;
    width: 20px;
}

.analysis-champion-image > img {
    height: 100%;
    width: 100%;
    display: block;
}

.analysis-progress {
    position: relative;
    margin-left: 20px;
    height: 20px;
    background-color: #afafaf;
}

.analysis-progress-bar-blue-team {
    background-color: #548dca;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.analysis-progress-bar-red-team {
    background-color: #d05a53;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.analysis-progress-span {
    position: absolute;
    right: 5px;
    top: -2px;
}

.analysis-graph-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

/* Analysis Graph */
.analysis-graph-text-container {
    position: absolute;
    top: 30%;
    width: 100%;
}

    /*.analysis-graph-text-container:first-child {
        border-bottom: 1px solid #cdd2d2;
        width: 60px;
        padding-bottom: 2px;
    }*/

.analysis-graph-text-first {
    margin: 0 auto;
    border-bottom: 1px solid #cdd2d2;
    width: 70px;
    padding-bottom: 2px;
    color: #548dca;
}

.analysis-graph-text {
    margin: 0 auto;
    color: #d05a53;
}
/* Analysis Graph End */

/* ANALYSIS TAB END */

/* BUILD TAB */
.timeline-item {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
}

.timeline-arrow {
    display: inline-block;
    margin: 8px 10px 0;
    text-align: center;
    vertical-align: top;
}

.skills-table {
    margin-bottom: 1rem;
    table-layout: fixed;
    border: none;
}

.skills-table td {
    width:55px;
    padding: 0.75rem;
    border: 1px solid #dee2e6;
}

.skills-table-first-td {
    border: none !important;
    text-align: right;
    width: 40px;
    vertical-align: middle;
}

.skills-table-img-td {
    border: none !important;
}

.skills-table-img {
    margin: -0.7rem;
    width: 51.5px;
    height: 51.5px;
}

.skills-table-skillpoint {
    background: green;
    text-align: center;
    color: white;
    font-size: 20px;
}
/* BUILD TAB END */
/* ################### MATCH BREAKDOWN CSS END ################### */