body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* PAGE LOADER */
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #242F3F;
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #242F3F;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
/* PAGE LOADER END */

/* LINK APPEARANCE FOR BUTTONS*/
.input-link-style {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

    .input-link-style:hover {
        text-decoration: underline;
    }

/* LINK APPEARANCE FOR BUTTONS END*/

/* LEVEL CSS */
.level {
    position: absolute;
    left: 35%;
    margin-top: -12px;
    margin-left: -10px;
    width: 44px;
    height: 24px;
    padding-top: 3px;
    box-sizing: border-box;
    background: url('../DataAccess/RiotGamesApi/Images/Misc/level-box.png');
    background-size: 100%;
    line-height: 17px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
}

.image-container {
    position: relative;
    height: 75px;
    width: 75px;
}
/* LEVEL CSS END */

/* MATCH HISTORY CSS */
a[name=playerLink] {
    text-decoration: none;
}

.game-stats-queue {
    position: absolute;
    top: 0px;
}

.game-stats-result {
    position: absolute;
    top: 100px;
}

#participantImages {
    position: relative;
}

    #participantImages > img {
        position: absolute;
    }

.champion-portrait {
    top: 35px;
}

.summoner-spell-one {
    left: 90px;
    top: 35px;
}

.summoner-spell-two {
    left: 90px;
    top: 77px;
}

.keystone {
    top: 115px;
}

.secondary-path {
    left: 40px;
    top: 117px;
}

#MoreDetailsBtn {
    text-align: center;
    margin-top: 2px;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: -8px;
}

    #MoreDetailsBtn:hover {
        background-color: #2e83e6;
        cursor: pointer;
    }

#CloseBtn {
    text-align: center;
    margin-top: 2px;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: -8px;
}

    #CloseBtn:hover {
        background-color: #2e83e6;
        cursor: pointer;
    }

#kda {
    position: absolute;
    top: 35px;
}

#items {
    position: absolute;
    top: 35px;
}

#stats {
    position: absolute;
    top: 35px;
}
/* MATCH HISTORY CSS END */

/* MATCH BREAKDOWN CSS*/

/* RIGHT SIDE*/
.summoner-spells-right-breakdown {
    padding-right: 0px;
    margin-top: -5px;
}
    .summoner-spells-right-breakdown > img {
        position: relative;
        left: 11px;
    }

.summoner-spell-two-right-breakdown {
    margin-top: -5px;
}

.runes-right-breakdown {
    padding-right: 2px;
    margin-top: -5px;
}

    .runes-right-breakdown > img {
        position: relative;
        left: 23px;
    }

.rune-secondary-path-right-breakdown {
    margin-top: -5px;
}

/*LEFT SIDE */
.summoner-spells-left-breakdown {
    margin-top: -5px;
    margin-left: 10px;
}

.summoner-spell-two-left-breakdown {
    margin-top: -5px;
}

.runes-left-breakdown {
    padding-left: 2px;
    margin-top: -5px;
    margin-left: 5px;
}

.rune-secondary-path-left-breakdown {
    margin-top: -5px;
}

.damage-dealt-max {
    width: 50px;
    height: 10px;
    margin: 0 auto;
    border: 1px solid #cdd2d2;
    background-color: #f2f2f2;
}

.damage-dealt {
    height: 10px;
    margin: -1px;
    border: 1px solid #c6443e;
    background-color: #ee5a52;
}

.wards-tooltip {
    position: relative;
    display: inline-block;
}

.wards-tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s;
    background-color: rgb(55, 58, 60);
    color: rgb(230, 230, 230);
    top: -60px;
    left: -43px;
}

.wards-tooltip:hover {
    cursor: pointer;
}

.wards-tooltip:hover .wards-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.league-item-breakdown {
    margin-right: 2px;
}

.game-kills-container {
    flex: 0 1 450px;
    display: flex;
    align-items: center;
    margin: 0 3px;
}

.game-kills-blue-team {
    background-color: #548dca;
    height: 10px;
}

.game-kills-red-team {
    background-color: #d05a53;
    height: 10px;
}
/* MATCH BREAKDOWN CSS END*/